<!--*ngIf="isLoggedIn | async"-->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>JS-jargon</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a href="#" mat-button>Menu1</a>
      <a href="#" mat-button>Menu2</a>
      <a href="#" mat-button>Menu3</a>
      <a href="#" mat-button>Menu4</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="" mat-list-item>Menu1</a>
      <a href="" mat-list-item>Menu2</a>
      <a href="" mat-list-item>Menu3</a>
      <a href="" mat-list-item>Menu4</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>